:root{
  font-size: 62.5%;
  --bg-primary: #fff;
  --base-color: 194;
  --text-color: #000;
  --ff-primary: 'Roboto', 'sans-serif';
}

*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-areas: 
  ". ."
  "wrapper wrapper"
  ". .";
  color: var(--text-color);
  background-color: var(--bg-primary);
  font-family: var(--ff-primary);
  min-height: 100vh;
  
}

.wrapper{
  grid-area: wrapper;
  display: grid;
  grid-template-areas:
  "main card";
  justify-items: center;
  justify-content: space-evenly;
}

.card{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.card svg{
  width: clamp(3.9rem, 5rem + 12vw, 13.8rem);
  cursor: pointer;
}

input{
  position: absolute;
  width: clamp(4rem, 2rem + 7vw, 9rem);
  margin-top: 120px;
  border-radius: 999px;
  /*-webkit-appearance: none;*/
}

input::-webkit-slider-runnable-track{
  height: 4px;
  cursor: pointer;
  border-radius: 999px;
  /*background: var(--text-color);*/
}

input::-webkit-slider-thumb {
  margin-top: -5px;
}

main{
  grid-area: main;
  align-self: center;
}

#cards{
  width: 32rem;
  height: 33.3rem;
  display: flex;
  grid-area: card;
  flex-wrap: wrap;
  gap: 2rem;
  align-self: center;
  justify-content: center;
}


#timer{
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  display: flex;
  justify-content: center;
  font-weight: 700;
  line-height: 10rem;
  margin-bottom: 1.6rem;
}

button{
  background: transparent;
  cursor: pointer;
}

button svg{
  width: clamp(3.2rem, 2rem + 6vw, 5.4rem);
}

.forest:hover svg path, .rain:hover svg path, .coffee:hover svg path, .fireplace:hover svg path{
  fill: #02799D;
}

.forest:hover svg path + path, .rain:hover svg path + path, .coffee:hover svg path + path, .fireplace:hover svg path + path{
  fill:#fff;
}

.hide{
  display: none;
}


#buttons{
  display: flex;
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
  margin: 0 auto;
  gap: 3.2rem;
  justify-content: center;
  align-content: center;
}

/*footer{
  grid-area: footer;
  align-self: end;
  justify-self: end;
  padding: 0 4rem 3.2rem 0;
}*/

@media (max-width: 768px){
  body{
    grid-template-areas: 
    "."
    "wrapper"
    ".";
  }

  .wrapper{
    grid-area: wrapper;
    display: grid;
    grid-template-areas:
        "main"
        "card";
    align-content: center;
    justify-content: center;
  }

  #cards{
    width: 60vw;
    height: 30vh;
    align-self: center;
    justify-content: center;
  }

  input{
    margin-top: 110px;
  }

}

@media(max-width: 568px){
  button svg{
    height: 100px;
  }

  input{
    margin-top: 80px;
  }

  #cards {
    width: 75vw;
    height: 30vh;
    align-self: center;
    justify-content: center;
}
}


